@mixin aboreto() {
  font-family: "Aboreto", cursive;
  font-size: 25px;
}

@mixin flexrow() {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@mixin flexcol() {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

body {
  background: #6effc7;
  @include aboreto();
}

.top {
  font-size: 50px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.specialDates {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;

  p {
    margin: 30px;
  }

  .nowDate {
    @include flexrow();
  }

  .firstMeet {
    @include flexrow();
  }

  .friendDuration {
    @include flexrow();
  }

  .love {
    @include flexrow();
  }

  .loveDuration {
    @include flexrow();
  }

  .osminog {
    margin-top: 100px;
    display: flex;
    justify-content: center;

    a {
      width: 60%;

      img {
        width: 100%;
      }
    }
  }
}

.holidays {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

@media(max-width:1250px) {

  .friendDuration,
  .firstMeet,
  .nowDate,
  .loveDuration,
  .love {
    font-size: 40px;
  }
}

@media(max-width:1100px) {

  .friendDuration,
  .firstMeet,
  .nowDate,
  .loveDuration,
  .love {
    font-size: 30px;
  }

  .specialDates p {
    margin: 10px;
    text-align: center;
  }
}

@media(max-width:850px) {

  .specialDates .friendDuration,
  .specialDates .firstMeet,
  .specialDates .nowDate,
  .specialDates .loveDuration,
  .specialDates .love {
    @include flexcol();
    font-size: 35px;
  }

  .specialDates .osminog a {
    width: 90%;
  }
}