@import "variables.scss";

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba($color: #000000, $alpha: 0.35);

  nav {
    @include flexrow();
    height: 100%;
    width: 100%;
    gap: 50px;
    justify-content: space-between;

    a {
      text-decoration: none;
      font-size: 25px;
      color: antiquewhite;
    }
  }
}

.heading {
  margin-top: 70px;
  width: 100%;
  height: 150px;
  @include flexcolumn();
  gap: 30px;

  h1 {
    font-size: 50px;
    text-align: center;
  }

  h3 {
    font-size: 25px;
    text-align: center;
  }
}

footer {
  width: 100%;
  min-height: 300px;
  background-color: #ffffffa0;
  @include flexrow();
  align-items: baseline;
  padding-top: 25px;
  gap: 20px;
  justify-content: space-around;

  .column {
    width: 30%;
    min-height: 220px;
    @include flexcolumn();
    justify-content: space-between;

    a {
      margin-bottom: 20px;
      font-size: 25px;
      text-decoration: none;
    }

    p {
      text-align: center;
    }
  }
}

@media(max-width:650px) {
  .pictures {
    img {
      width: 90%;
    }
  }

  header {
    nav {
      gap: 0;
      justify-content: space-around;
    }
  }

  footer {
    gap: 0;

    .column {
      p {
        text-align: justify;
      }
    }
  }
}

@media(max-width:1000px),
(orientation:portrait) {


  .pictures {
    img {
      width: 90%;
    }
  }

  header {
    nav {
      gap: 0;
      justify-content: space-around;
    }
  }

  footer {
    gap: 0;

    .column {
      p {
        text-align: justify;
      }
    }
  }
}