@import "variables.scss", "general_part.scss";

body {
  background-color: aquamarine;
}

header {
  nav {
    a {
      color: antiquewhite;
    }
  }
}

.heading {
  color: mediumorchid;
}

.pictures {
  width: 100%;
  @include flexcolumn();

  img {
    width: 50%;
  }

  p {
    @include picture_head();
    text-align: center;
  }

  p:nth-child(2) {
    color: darkviolet;
  }

  p:nth-child(4) {
    color: purple;
  }

  p:nth-child(6) {
    color: blueviolet;
  }

  p:nth-child(8) {
    color: mediumorchid;
  }

  p:nth-child(10) {
    color: violet;
  }

  .picture_block {
    width: 100%;
    @include flexrow();
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    img {
      width: 48%;
    }
  }
}

@media(max-width:750px) {
  .pictures {
    .picture_block {
      img {
        width: 90%;
      }
    }
  }
}

@media(max-width:1000px),
(orientation:portrait) {
  .pictures {
    .picture_block {
      img {
        width: 90%;
      }
    }
  }
}